*{
    margin: 0px;
    padding: 0px;
    font-family: "DM Serif Text", serif;
}
.Header{
    display: flex;
    /* justify-content: center; */
}

#logo{
    height: 100px;
    position: relative;
}
ul{
    display: flex;
    list-style-type: none;
    /* justify-content: space-around; */
}
ul li{
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.main_nav{
    margin-left: 400px;
    margin-top: 65px;
    font-size: 18px;
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
    z-index: -1;
 }
.main_nav ul li {
    color: white;
    transition: color 0.3s ease-in-out;
}
.Header:hover .main_nav ul li {
    color: black;
}
.Header:hover {
    background-color: white;
}
.content{
    display: flex;
    /* position: fixed; */
    justify-content:space-between;
    /* float: right; */
    margin-right: 55px;
    margin-top: 300px;
    color: white;
    padding: 27px;
 }
 .para1{
    line-height: 25px;
    font-family: "Rasa", serif;
 }
 #more{
    cursor: pointer;
    border: 1px  solid white;
    border-radius: 5px;
    padding: 10px;
    
 }
 .content-list li a{
    color: white;
    text-decoration:overline;
    margin: 5px;
 }
 .right-most{
    margin-top: 65px;
 }
 #submit{
    background: yellow;
    color: white;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 50px;
    cursor: pointer;
    
 }
.form-div{
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background: #d0c3c35c;
}
.Whats-new{
    text-align: center;
    margin-top: 100px
}
.Whats-new h1{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
.Whats-new p{
    color: rgb(83, 81, 81);
}
.tourofthekkady{
    background-image: url('./images/thekkady.png');
    background-size: cover; /* Cover the entire section */
    /* height: 100%; */
    background-position: center;
    height: 702px;
}
.stay{
    margin-top: 40px;
    color: white;
}
.form-stay{
    margin-top: 100px;
}
.form-div{
    background-image: url('./images/img2.webp');
    background-size: cover; /* Cover the entire section */
    /* height: 100%; */
    background-position: center;
    height: 600px;
}

.thekkady-content{
    text-align: left;
    height: 500px;
}
.thekkady-content h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: white;
    margin-left: 52px;
}
.thekkady-content p{
    color: rgba(255, 255, 255, 0.542);
    margin-left: 52px;
} 
#explore{
 height:35px ;
 border: none;
 border-radius: 5px;
 width:60px;
 background-color:#d0c3c32b;
 color: white;
 margin-left: 52px;
}
.destination-images{
    display: flex;
    justify-content: space-evenly;
}
.destination-images div img{
    cursor: pointer;
}
.footer  ul{
    display: flex;
    justify-content: center;
}
.footer{
    background-color: #000000bd;
    color: white;
    min-height: 150px;
}
.list{
    display: flex;
}
.aboutUs ul li{
    margin: 10px;
}
.right-most button{
    margin-right: 558px;
}
.Header:hover{
background-color: #ffffff42;
}
.destination{
    margin-top: -51px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease-in-out;
}
.destination:hover {
    transform: translateY(-10px);
}
.info-container{
    display: flex;
    justify-content:space-around;
}
.info-container div p{
    color: rgb(83, 81, 81);
}
.nfo-container div  h1{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
#explore2{
    height:30px ;
 border: 1px solid  rgb(83, 81, 81);;
 border-radius: 5px;
 width:60px;
 
 color: rgb(83, 81, 81);
 margin-left: 52px;
}
button{
    cursor: pointer;
}
h2{
    cursor: pointer;
}